html {
	height: 100%;
}

body{
	background: url(https://i.pinimg.com/originals/3e/af/44/3eaf44629358e2f7efd35f8501f77e8d.jpg);
	background-size: cover;
	background-position: center;
	color: white;
}

#content{
	text-align: center;
	padding-top: 25%;
}	

h1{
	font-weight: 700;
	font-size: 5em;
}

hr{
	width: 400px;
}

.jumbotron{
	
	color:white;
	background-position:center;
    background: rgba(200, 54, 54, 0.5); 
}

.btn{
	color:black;
	background:white;
}